<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
    <threshold value="FATAL" />
    <applicationName value="Etsy2ParcelMonkeyCSV" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger: %message%newline" />
    </layout>
  </appender>

  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <rollingStyle value="Size" />
    <file type="log4net.Util.PatternString" value="C:\Etsy2ParcelMonkeyCSVLog\log_%date{ddMMyyyy_HHmmss}.txt" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10000KB" />
    <staticLogFileName value="false" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger: %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="OFF" />
  </root>

  <logger name="Etsy2ParcelMonkeyCSV">
    <level value="DEBUG" />
    <appender-ref ref="EventLogAppender" />
    <appender-ref ref="RollingFileAppender" />
  </logger>
</log4net>